
body {
	margin: 0;
  font-weight: normal;
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.container {
	max-width: 960px;
	margin: auto 15%;
}

section.module.parallax {
  height: 80%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 5%;
}

section.module.content {
  background-color: white;
  padding: 60px 50px;
}

/*******************/
/* Parallax images */
/*******************/

section.module.parallax-1 {
    color: white;

  background-image: url("../img/ireland.jpg");
}
section.module.parallax-2 {
    color: white;

  background-image: url("../img/paris.jpg");
}
section.module.parallax-3 {
  background-image: url("../img/ireland.jpg");
}
section.module.parallax-4 {
  background-image: url("../img/internet-background.jpg");
}

/* Media Support */
@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}
