
body {
	margin: 0;
  font-weight: normal;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

section.module:last-child {
	margin-bottom: 0;
}

section.module.h2 {
	margin-bottom: 40px;
	font-size: 30px;
  font-weight: normal;
}

section.module.p {
	margin-bottom: 40px;
	font-size: 16px;
	font-weight: 300;
}

section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  background-color: #A8A8A8;
  padding: 60px 50px;
}
section.module.content h2 {
  font-weight: normal;
  text-align: center;
}

/* Parallax */

section.module.parallax {
  font-weight: normal;
  height: 80%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 5%;
}
section.module.parallax h1 {
  color: white;
  font-weight: normal;
  position: relative;
  vertical-align: center;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax h2 {
  color: white;
  font-weight: normal;
  vertical-align: center;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  background-image: url("../img/Northern Lights.jpg");
}
section.module.parallax-2 {
  background-image: url("../img/paris.jpg");
}
section.module.parallax-3 {
  background-image: url("../img/ireland.jpg");
}
section.module.parallax-4 {
  background-image: url("../img/internet-background.jpg");
}

/* Media Support */
@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}
