
html { 

	/*font-family: 'Ubuntu', sans-serif;*/
  /*font-family: BebasNeue;*/
  font-family: "Noto Serif"
}

body {
	margin: 0;
	background: #696969;
}

a {
	color: #ff2222;
}

h1 {
	text-align: center;
	vertical-align: middle;
	font-family: "Noto Sans";

}

p {
	margin: 0 auto;
	color: white;
	font-size: 1.3em;
	margin: 10px;
	text-align: justify;
}

.center {
	text-align: center;
	width: 33.333%;
	margin: 0 auto;
}

.right {
	text-align: right;;
	width: 33.333%;
	margin: 0 0 0 auto;
	padding: 16px;
}

.pane {
	width: 100vw;
	display: inline-block;
}

/*********************************************************/
/********************** HEADER PANE **********************/
/*********************************************************/

header {
	background: #000000;
	opacity: 0.5;
	position: fixed;
	height: 15vh;
	/*padding: 20px 50px;*/
}

.patrick-logo {
	text-decoration: none;
	/*font-weight: bold;*/
	color: white;
	font-size: 3em;
}

/*********************************************************/
/********************* SERVICES PANE *********************/
/*********************************************************/
#services {
	
}

.panel-third {

	width: 33%;
	min-width: 400px;
	height: 100%;

	text-align: center;
	vertical-align: top;
	display: inline-block;
	padding-bottom: 100px;
}

.win {
	background-image: url(../img/windows-flag.png);
}
.ios {
	background-image: url(../img/iphone-logo.png);
}
.web {
	background-image: url(../img/intenet-globe.png);
}

.button {
   border-top: 1px solid #e8b5b5;
   background: #ed6666;
   background: -webkit-gradient(linear, left top, left bottom, from(#c91010), to(#ed6666));
   background: -webkit-linear-gradient(top, #c91010, #ed6666);
   background: -moz-linear-gradient(top, #c91010, #ed6666);
   background: -ms-linear-gradient(top, #c91010, #ed6666);
   background: -o-linear-gradient(top, #c91010, #ed6666);
   padding: 19.5px 39px;
   -webkit-border-radius: 26px;
   -moz-border-radius: 26px;
   border-radius: 26px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 40px;
   text-decoration: none;
   width: 80%;
   position: relative;
   margin: 20px;
}

.large-icon {
	margin: 0 auto;

	width: 20vw;
	height: 20vw;

	background-size:cover;
}

.button:hover {
   border-top-color: #941919;
   background: #941919;
   color: #ccc;
}
.button:active {
   border-top-color: #700404;
   background: #700404;
}

/***************************************************/
/********************* SIDEBAR *********************/
/***************************************************/
#sidebar {
	position: fixed;
	float: left;
	max-width: 400px;
	width: 24%;

	text-align: center;

	background-color: lightgray;
	bottom: 0;
	top: 0;
}

.widget-area {
	margin-top: 50px;
	padding: 0 20%;
}

.widget-header {
	text-align: left;
	font-weight: bold;
	font-family: "Noto Sans";
}

.widget-list {
	list-style: outside none none;
	text-align: left;
	padding-left: 5px;
}

li {
	padding: 10px;
	font-family: "Noto Serif";
	font-weight: lighter;
}

/*******************************************************/
/********************* FOOTER PANE *********************/
/*******************************************************/
#footer {
	background: #444444;
	/*padding: 20px 50px;*/
}

#social-group {
	width: 33.333%;
	text-align: left;
}

#social-group img {
	height: 50px;
	margin: 8px;
}

/********************************************************/
/********************* WELCOME PANE *********************/
/********************************************************/
#welcome {
	height: 100vh;
	background: gray;
	background-image: url(../img/majestic-winston-grayscale.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed; 
	background-size: cover;
}

#welcome h1 {
	color: white;
	position: absolute;
	bottom: 20px;
	/*right: 1500px;*/
}

/***********************************************************/
/********************* PORTFOLIO PANE *********************/
/***********************************************************/

.top-divider {
	top-margin: 0;
	height: 1vh;
}

.container-left {	
	float: left;
	width: 50%;
}

.container-right {
	float: right;
	width: 50%;
}


#campusfeed .top-divider {
	background: #33B5E5;
}

#campusfeed h1 {
	color: #33B5E5;
}

#campusfeed a {
	color: #33B5E5;
}

#campusfeed img {
	margin: 5% 10%;
	width: 80%;
	height: 80%;
}

#synchrogrid .top-divider {
	background: #EF4136;
}

#synchrogrid h1 {
	background: #EF4136;	
}

/*************************************************/
/********************* FONTS *********************/
/*************************************************/

@font-face {
	font-family: BebasNeue;
	src: url("../fonts/bebas/BebasNeue Book.otf");
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans"), local("NotoSans"), url("http://fonts.gstatic.com/s/notosans/v6/erE3KsIWUumgD1j_Ca-V-5Bw1xU1rKptJj_0jans920.woff2") format("woff2"), url("http://fonts.gstatic.com/s/notosans/v6/erE3KsIWUumgD1j_Ca-V-7O3LdcAZYWl9Si6vvxL-qU.woff") format("woff");
}

@font-face {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 400;
  src: local("Noto Serif"), local("NotoSerif"), url("http://fonts.gstatic.com/s/notoserif/v4/fVu1p3782bqS2z-CaJvp9gzyDMXhdD8sAj6OAJTFsBI.woff2") format("woff2"), url("http://fonts.gstatic.com/s/notoserif/v4/fVu1p3782bqS2z-CaJvp9r3hpw3pgy2gAi-Ip7WPMi0.woff") format("woff");
}


/**************************************************/
/********************* COLORS *********************/
/**************************************************/

/*winston-collar-red#871e2c*/
