html { 
  background: url(../img/majestic-winston-grayscale.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  font-family: BebasNeue;
}

@font-face {
	font-family: BebasNeue;
	src: url("../fonts/Bebas/BebasNeue Book.otf");
}

#welcome {
	font-size: 10em;
	color: white;
	position: fixed;
	/*margin-bottom: 20px;*/
	bottom: 1000px;
	right: 40px;
}

