html { 
  font-family: BebasNeue;
}

body {
	margin: 0;
}
@font-face {
	font-family: BebasNeue;
	src: url("../fonts/Bebas/BebasNeue Book.otf");
}

/*****************/
/**  FRONT PAGE **/
/*****************/

#pane-1 {
	height: 100vh;
	background: gray;
	background-image: url(../img/majestic-winston-grayscale.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed; 
	background-size: cover;
	display: block;
	position: relative;
}


#winston-head {
	margin: 300px;
	height: 150px;
	width: 150px;
}

#welcome {
	font-size: 10em;
	color: white;
	position: absolute;
	bottom: 20px;
	right: 1500px;
}

#social-group {
	padding: 10px;
	float: right;
}

.icon {
	height: 50px;
	margin: 10px;
	margin-left: auto;
	margin-right: 15px;
	opacity: 0;
}

/***********/
/**  PANE **/
/***********/

#pane-2 {
	height: 80vh;
	background: red;
}

